body {
  background-color: white;
  font-family: 'Lucida Grande', 'Arial', 'Cantarell', sans-serif;
}

header {
  background-color: #cfcbbf;
}

header h1 {
  font-size: 28pt;
}

nav ul li a {
  /* border-left: 8px solid #efece5; */
  /* background-color: #efece5; */

  /* font-size: 140%; */
  /* font-weight: bold; */
  /* font-variant: small-caps; */
  /* text-decoration: none; */
}

nav ul li a:hover {
  /* background-color: #d0e3d9; */
  /* border-left: 8px solid #55bea9; */
}

section {
  /* padding: 20px; */
}

h2 {
  margin-top: 8px;
  font-weight: bold;
  font-size: 24pt;
}

.highlight {
  color: black;
  background-color: #efece5;
}

.highlight-fun {
  color: white;
  background-color: #f3633e;
}

.highlight-dark {
  color: white;
  background-color: #3e587e;
}

.readable {
  /* padding: 4px 12px; */
  background-color: white;
  color: rgb(47, 70, 108);
}

.logo img {
  /* display: block; */
  /* margin: 24px auto; */
}

blockquote {
  border-left: 2px solid darkgray;
  padding: 0 10px;
  margin-left: 0;
}
